<%- include('header.ejs') %>

<main>
    <h1>Feed</h1>
    <p>See all available plants here!</p>

    <ul id="feed">
        <% AllPlantData.forEach(plant => { %>
        <ul id="plantinfocard">
            <li><%- plant.planttype %></li>
            <li><%- plant.height %></li>
        </ul>
        <% }) %>
    </ul>

    <!-- <ul id="feed">
        <% AllPlantData.forEach(plant => { %>
        <li><%- include('plantinfocard') %></li>
        <% }) %>
    </ul> -->
</main>

<%- include('footer.ejs') %>